body {
  margin: 0px;
  min-height: 100vh;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.pd10 {
  padding: 1rem;
}

.fs15 {
  font-size: 1.5rem;
}
.fs20 {
  font-size: 2rem;
}

.page-title {
  display: flex;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}
.page-title > :first-child {
  flex: 1;
  text-align: center;
}
.page-title > :last-child {
  cursor: pointer;
}
.page-title > :last-child:hover {
  color: #0000ff;
}

.flex-box {
  display: flex;
}

.flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-page-title {
  display: flex;
  padding: 0.5rem 2rem;
  align-items: flex-end;
}

.user-info-page-title > :first-child {
  flex: 1;
  font-size: 2rem;
  text-align: center;
}

.user-info-page-title > :first-child > :last-child {
  display: inline-block;
  margin-left: 2rem;
  cursor: pointer;
}

.user-info-page-title > :first-child > :last-child:hover {
  color: #ff0000;
}
