.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont'; /* Project id 2888632 */
  src: url('//at.alicdn.com/t/font_2888632_fdx2d986fom.woff2?t=1635470661811') format('woff2'), url('//at.alicdn.com/t/font_2888632_fdx2d986fom.woff?t=1635470661811') format('woff'), url('//at.alicdn.com/t/font_2888632_fdx2d986fom.ttf?t=1635470661811') format('truetype');
}
